<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="bi bi-apple"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
          [routerLink]="['/welcome']"
          [routerLinkActive]="'text-info'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          [routerLinkActive]="'text-info'"
          [routerLink]="['/products']"
          [routerLinkActiveOptions]="{ exact: true }">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
          [routerLinkActive]="'text-info'"
          [routerLink]="['/products/edit/0']"
          [routerLinkActiveOptions]="{ exact: true }">Add Products</a>
        </li>
      
      </ul>
      <ul class="navbar-nav fs-4">
        <li class="nav-item">
          <a class="nav-link">{{ getUsername }}</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']" (click)="logout()">Logout</a>
        </li>
      </ul>

      
    </div>
  </div>
</nav>
