<div class="container mt-4">
    <form class="bg-light p-4" (submit)="login()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          [(ngModel)]="username"
          type="text"
          name="username"
          placeholder="Enter Your Name"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          [(ngModel)]="password"
          type="password"
          name="password"
          placeholder="Enter Your Password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
